
/*************************************************** One_Liner ***************************************************/
#tabbrowser-tabs { visibility: collapse !important; }

#nav-bar {
margin-top: -30px;
margin-right: 35vw;
margin-bottom: 0px;
margin-left: 0px;}

/* if the screen is smaller than 1300px right margin is 30% */
@media screen and (max-width: 1700px){
  #urlbar-container{ min-width:unset !important }
  #navigator-toolbox > #nav-bar{ margin-right:30vw !important}
}

/* if the screen is smaller than 950px right margin is 20% */
@media screen and (max-width: 950px){
  #urlbar-container{ min-width:unset !important }
  #navigator-toolbox > #nav-bar{ margin-right:20vw !important}
}
/*************************************************** SIDEBERY ***************************************************/
#sidebar-box {  min-width: 1px !important;}

#sidebar-header{ display: none }

/************************************************ Hover_text_color ***************************************************/
tooltip{-moz-appearance: none !important; background:#232323 !important; color: #ededed}

/******************************************* Remove_Search_with_Google ***********************************************/
#urlbar[usertyping] .urlbarView-row:not([type]):first-child,
#urlbar[usertyping] .urlbarView-row[type="search"]:first-child,
.urlbarView-row[type="tabtosearch"] {
  display: none !important;
}

/******************************************* Remove_Padding_and_button_fix *************************************************/
#urlbar-container{ padding-block: 0px !important }
.titlebar-buttonbox-container{ -moz-box-align: start !important; }

/*************************************** Remove 1 pixel sized black line *********************************************/
#navigator-toolbox {
  border-bottom: none !important;
}

/*************************************** Remove Right Click Menu Top Settings ****************************************/
#context-navigation,#context-sep-navigation{ display: none !important }

/*************************************** Shrink toolbar by 1 pixel *********************************************/
#navigator-toolbox{
  --toolbarbutton-inner-padding: 5px;
}
#urlbar-container{
  --urlbar-container-height: 25px !important;
  padding-block: 1px !important;
}
toolbarbutton.bookmark-item:not(.subviewbutton){
  margin: 0px !important;
  padding-block: 0 !important;
}

/*************************************** Remove Bookmarks Star *******************************************************/
#star-button-box {display: none !important;}



/**
 * Dynamic Horizontal Tabs Toolbar (with animations)
 * sidebar.verticalTabs: false (with native horizontal tabs)
 */
#main-window #TabsToolbar > .toolbar-items {
  overflow: hidden;
  transition: height 0.3s 0.3s !important;
}
/* Default state: Set initial height to enable animation */
#main-window #TabsToolbar > .toolbar-items { height: 3em !important; }
#main-window[uidensity="touch"] #TabsToolbar > .toolbar-items { height: 3.35em !important; }
#main-window[uidensity="compact"] #TabsToolbar > .toolbar-items { height: 2.7em !important; }
/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="XXX"] #TabsToolbar > .toolbar-items { height: 0 !important; }
/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*="XXX"] #tabbrowser-tabs { z-index: 0 !important; }
/* Hidden state: Hide window buttons in tabs-toolbar */
#main-window[titlepreface*="XXX"] #TabsToolbar .titlebar-spacer,
#main-window[titlepreface*="XXX"] #TabsToolbar .titlebar-buttonbox-container {
  display: none !important;
}
/* [Optional] Uncomment block below to show window buttons in nav-bar (maybe, I didn't test it on non-linux-i3wm env) */
/* #main-window[titlepreface*="XXX"] #nav-bar > .titlebar-buttonbox-container,
#main-window[titlepreface*="XXX"] #nav-bar > .titlebar-buttonbox-container > .titlebar-buttonbox {
  display: flex !important;
} */
/* [Optional] Uncomment one of the line below if you need space near window buttons */
/* #main-window[titlepreface*="XXX"] #nav-bar > .titlebar-spacer[type="pre-tabs"] { display: flex !important; } */
/* #main-window[titlepreface*="XXX"] #nav-bar > .titlebar-spacer[type="post-tabs"] { display: flex !important; } */


/*transition_sidebar.css*/

#sidebar {
  transition: width 128ms ease !important;
  transition-delay: 128ms !important;
  width: 40px !important;
  border-right: 1px solid #000;

}

#sidebar-box {
	width: 40px !important;
	max-width: none !important;
	min-width: 0px !important;
	transition: width 128ms ease !important;
	transition-delay: 128ms !important;
}

#sidebar-box:hover {
	width: 540px !important;
	transition: width 128ms ease !important;
}

#sidebar-box:hover > #sidebar {
  width: 540px !important;
  transition-delay: 0ms !important
}
